.experience-page {
  padding: 3rem 6rem;
}

.experience-container {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
}

.experience-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.experience-wrapper-left {
  min-width: 240px;
  color: gray;
}

.company {
  font-size: 1.5rem;
  font-weight: 600;
  color: cadetblue;
  cursor: pointer;
}

.location,
.duration {
  font-style: italic;
}

.data-wrapper {
  padding-bottom: 0.75rem;
}

.role {
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0.75;
  padding-bottom: 0.5rem;
}

.description {
  opacity: 0.75;
}

@media only screen and (max-width: 1199px) {
  .experience-page {
    padding: 3rem 4rem;
  }

  .experience-container {
    padding: 1rem 0;
  }

  .experience-wrapper {
    gap: 1rem;
    padding: 1rem;
  }
  .experience-wrapper-left {
    min-width: 30%;
  }
}

@media only screen and (max-width: 799px) {
  .experience-page {
    padding: 1.5rem;
  }

  .experience-wrapper {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .company {
    font-size: 1rem;
    font-weight: 600;
  }

  .location,
  .duration {
    font-size: 0.75rem;
  }

  .role {
    font-size: 1rem;
  }

  .data-wrapper {
    padding-bottom: 0.5rem;
  }

  .description {
    font-size: 0.75rem;
  }
}
