.social-media-page {
  background-color: #080808;
  color: #ffffff;
  padding: 3rem 6rem;
  text-align: center;
}

.social-media-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.social-media-logo {
  cursor: pointer;
  margin: 0 8px;
  height: 60px;
  width: 60px;
}

@media only screen and (max-width: 1199px) {
  .social-media-page {
    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 799px) {
  .social-media-page {
    padding: 1.5rem;
  }

  .social-media-container {
    margin-top: 0;
  }

  .social-media-logo {
    height: 40px;
    width: 40px;
  }
}
