.projects-page {
  background-color: #080808;
  padding: 3rem 6rem;
  color: #ffffff;
}

.projects-container {
  display: flex;
  margin: 4rem 0 3rem;
  gap: 1rem;
  justify-content: space-between;
}

.project {
  width: 30%;
  background-color: #151030;
  color: #9c9c9c;
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.2);
}

.project-title {
  color: #ffffff;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github-logo {
  height: 50px;
  cursor: pointer;
}

.project-image {
  height: 200px;
  width: 100%;
}

.tech-list {
  margin-top: 0.5rem;
}

.tech {
  padding-right: 0.5rem;
}

@media only screen and (max-width: 1199px) {
  .projects-page {
    padding: 3rem 4rem;
  }

  .project {
    width: 32%;
    padding: 1rem 0.75rem;
    transition: transform 0.3s ease;
    font-size: 0.75rem;
  }

  .project-title {
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  .project-image {
    height: 150px;
  }
}

@media only screen and (max-width: 899px) {
  .projects-page {
    padding: 1.5rem;
  }
  .tech-list {
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;
  }

  .projects-container {
    margin-top: 1rem;
    overflow-y: scroll;
  }

  .projects-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .projects-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .project {
    min-width: 100%;
  }
}
